@import "tailwindcss";

html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px; 
}

